<link rel="stylesheet" href="/css/dashboard.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
      <a href="/"><i class="fa fa-angellist"></i> 500x.tech</a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="/add_product">Add Product</a></li><!--
   -->
   <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

    <% for(var i=0;i<product.length;i++){%>
        <table class="rwd-table" style="margin-top: 2%;margin-left: 2%;float: left;margin-bottom: auto;">
            <tr>
                <th>Product Name</th>
                <td><%=product[i].product_name%></td>
            </tr>
            <tr>
                <th>Price</th>
                <td><%=product[i].price%></td>
            </tr>
            <tr>
              <th>Seller</th>
              <td><%=product[i].seller%></td>
          </tr>
            <tr>
                <th>Buy</th>
                <td><a href="/buy?product_name=<%=product[i].product_name%>&price=<%=product[i].price%>">Click To Buy</a></td>
            </tr>
        </table>
      <%}%>